# Environment variables
.env

# Jupyter notebooks directory
notebooks/

# Raw data directory
raw_data/

# Model files
models/camembert_models/*.npy
models/yolo_models/*.pt

# Python version file
.python-version

# Python cache directories
*__pycache__/
.ipynb_checkpoints/
*.egg-info/

# Windows Zone Identifier and macOS Finder metadata files
*:Zone.Identifier
.DS_Store



# Ignore old dumps and test files
ol_dump_authors_*.csv
ol_dump_authors_*.txt
old_files/
test.py
test_notebook.ipynb
book_api_check.ipynb
scrapping.ipynb
leboncoin_covers/
tmp_chunk.csv
*.ipynb
.streamlit
