# Raw data directory
raw_data/
notebooks/
.env


notebooks/

# Model files
*.npy

# Python version file
.python-version

# Jupyter notebooks directory
notebooks/

# Python cache directories
*__pycache__/
.ipynb_checkpoints/
*.egg-info/

# Windows Zone Identifier and macOS Finder metadata files
*:Zone.Identifier
.DS_Store
