############################
### List of requirements ###
############################

### Base data science packages ###
ipdb==0.13.13
jupyterlab==4.3.5
matplotlib==3.10.1
numpy==2.0.2
pandas==2.2.3
pylint==3.3.5
pytest==8.3.5
scikit-learn==1.6.1
seaborn==0.13.2
setuptools==76.0.0

### Base image packages ###
opencv-python==4.11.0.86

### Covers to text conversion ###
easyocr==1.7.2
supervision==0.25.1
ultralytics==8.3.89

### User interface ###
streamlit==1.43.1

### Logging ###
loguru==0.7.3

### Machine Learning ###
tensorflow==2.18.0
tf-keras==2.18.0
transformers==4.49.0
sentencepiece==0.2.0

### Front ###
google-cloud-storage==3.1.0
fastapi==0.115.11
uvicorn==0.34.0


# additions for Docker:
torch ==2.6.0
